.group {

    display: grid;
    gap: .5rem;

    .title {
        color: var(--color-gray-5);

        padding-inline: var(--item-padding-inline);

        font-size: 0.75rem;

        text-transform: uppercase;
    }

    > ul {
        display: grid;
        gap: .5rem;
    }

    &.collapsed {
        justify-items: center;

        inline-size: 4rem;

        > ul {
            justify-items: center;
        }

    }

    .spTitle{
        font-size: 1rem;
    }
}